<!DOCTYPE html>
<html lang="en">

    <%- include('../layout/head') %>
    <%- include('../layout/header') %>

  <body>
    <h1 class='title'>My collections: </h1>
  

    <br>
    <h1 class='title'>My watch-list: </h1>
      
    <ul>
      <% anime.forEach(baka => { %>
        <div>
          <li>
            <h2><%= baka.name %></h2>
            <img src='<%= baka.image_url %>' alt=''>
          </li>
          <form action='/collection/<%= baka.id %>?_method=DELETE' method='POST'>
            <input type='submit' value='Delete Character'>
          </form>
        </div>
      <% }) %>
    </ul>

    <div class="collectiondiv">
      <img id="kinkakujiimg" src="img/kinkakuji.jpeg" alt="Kinkakuji Temple, Kyoto, Japan" title="Kinkakuji Temple by Amelia Waggoner">
      <img id="landscapeimg" src="img/landscape.JPG" alt=" Saitama, Japan" title="View by Train by Amelia Waggoner">
      <img id="foodimg" src="img/traditionalfood.JPG" alt="Traditional Japanese Food" title="Traditional Japanese Food by Amelia Waggoner">
      <img id="uenoimg" src="img/ueno.jpeg" alt="Ueno Park, Tokyo, Japan" title="Ueno Park by Amelia Waggoner">
      <img id="tokyoimg" src="img/tokyo.JPG" alt="Tokyo, Japan" title="Tokyo Skyline by Amelia Waggoner">
    </div>
    <%- include('../layout/footer') %>
  </body>
</html>