<!DOCTYPE html>
<html lang="en">

  <%- include('../layout/head') %>

<body>

  <%- include('../layout/header') %>

  <h1 class='title'>List of Characters</h1>

  <ul id='animeUL'>
    <% animeList.forEach(baka => { %>
      <div>
        <li class='animeList'>
          <form action='/collection' method='POST'>
            <h2><%= baka.name %></h2>
            <img src='<%= baka.image_url %>' alt=''>
            <input name='name' type='hidden' value='<%= baka.name %>'>
            <input name='image_url' type='hidden' value='<%= baka.image_url %>'>
            <button type='submit' value='Add to Collections'>Add to Collections</button>
          </form>
        </li>
      </div>
  <% }) %>
  </ul>

  <%- include('../layout/footer') %>

</body>
</html>