<!DOCTYPE html>
<html lang="en">

  <%- include('../layout/head') %>

<body>

  <%- include('../layout/header') %>

  <h1 class='title'>List of Characters</h1>

  <ul id='animeUL'>
    <% animeList.forEach(baka => { %>
      <div>
        <li class='animeList'>
          <h2><%= baka.name %></h2>
          <img src='<%= baka.image_url %>' alt=''>
        </li>
      </div>
  <% }) %>
  </ul>

  <%- include('../layout/footer') %>

</body>
</html>