<!DOCTYPE html>
<html lang="en">

  <%- include('../layout/head', {users : users}) %>

<body>

  <%- include('../layout/header', {users : users}) %>

  <h1 class='title'>Welcome to our site <br>-<%= users %>-<br><br>Click on a City below to explore Japan</h1>

  <div id='users'><%= users %></div>

  <div id='map'></div>

  <%- include('../layout/footer', {users : users}) %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src='https://maps.googleapis.com/maps/api/js?key=<%= key %>&callback=initMap&libraries=&v=weekly' defer></script>
  <script src='js/app.js'></script>
  
</body>
</html>